#the-process {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  padding: 4rem 0 6rem;
  text-align: center;
  position: relative;
}
#the-process h2 {
  color: #fff;
  margin-bottom: 1.25rem;
}
#the-process p {
  padding-bottom: 1.5rem;
}
#the-process a {
  padding: 1.25rem 2rem 0.875rem;
  border-radius: 12px;
  background: #68b8ba;
  color: #ebebeb;
  border-radius: 12px;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
#the-process a:hover {
  background: #7bc3c5;
}
@media only screen and (min-width: 768px) {
  #the-process {
    padding-bottom: 11rem;
  }
}
#the-process:after {
  content: "\00a0";
  position: absolute;
  width: 100%;
  height: 1rem;
  left: 0;
  bottom: 0;
  background-image: url(../img/blue_curve.png);
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  #the-process:after {
    height: 5rem;
  }
}
