$white: #ebebeb;
$black: #2f2f2f;

$green_bkgd: #134853;
$green_text: #68b8ba;

$museo-sans: "Museo Sans", "museo-sans", Helvetica, Arial, "sans-serif"; // 700
$museo: "Museo", "museo", Helvetica, Arial, "sans-serif"; // 300